[submodule "Nanamichiaki/vendor/spdlog"]
	path = Nanamichiaki/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nanamichiaki/vendor/GLFW"]
	path = Nanamichiaki/vendor/GLFW
	url = https://github.com/qihaichiaki/glfw
